* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #212121;
    color: #fff;
}

.searchbar-and-button {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: maroon;
}

.main-results-area {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
}

.film-area {
    color: aquamarine;
    margin-bottom: 100px;
}

.film-result-item,
.series-result-item {
    margin: 20px;
    list-style: none;
}

.film-basic-info h3,
.series-basic-info h3 {
    padding: 10px;
}

.series-area {
    color: orange;
}

.film-basic-info p span img,
.series-basic-info p span img
 {
    width: 20px;
}






