/* !GENERAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #212121;
    color: #fff;
}

/* !LAYOUT */

/* *HEADER* */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: radial-gradient(circle, rgba(79,12,78,1) 37%, rgba(0,0,0,1) 100%);
}

.logo {
    max-width: 150px;
}

.search-area {
    flex-basis: 40%;
}

.searchbar {
    position: relative;
    width: 100%;
    height: 50px;
    font-size: 20px;
    padding: 0 20px;
    outline: none;
    background: rgba(0,0,0, .1);
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 15px 10px -10px rgba(0,0,0, .8);
    transition: .2s;
}

.searchbar:hover,
.searchbar:focus {
    background: rgba(0,0,0, .4);
}

.mini-tv {
    width: 40px;
    position: absolute;
    right: 70px;
    top: 25px;
    color: rgba(255,255,255, .4);
}

/* *MAIN CONTENT AREA* */
/* Jumbotron */
.jumbotron {
    position: relative;
}

.jumbo-img {
    width: 100vw;
    height: 45vh;
}

.jumbo-text {
    position: absolute;
    top: 50px;
    left: 30px;
}

.jumbo-text h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
}

.jumbo-text .purple-button {
    padding: 10px 20px;
    background: rgba(79,12,78, .6);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 20px;
    transition: background, .2s;
    cursor: pointer;
}

.purple-button:hover {
    background: #4f0c4e;
}
/* Film results area */
.film-area {
    margin-bottom: 100px;
}

.film-results-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.film-area h2,
.series-area h2 {
    font-size: 55px;
    margin: 50px;
}

.film-result-item,
.series-result-item {
    margin: 20px;
    list-style: none;
}

.film-basic-info h3,
.series-basic-info h3 {
    padding: 10px;
}

.series-area {
    color: orange;
}

.flag
 {
    width: 20px;
}






